<div class="alert alert-block alert-info">
<b>Yahoo Finance</b> : Input Ticker
</div>

In [1]:
import pandas
import pandas_datareader as pdr
from datetime import datetime

# sd = datetime(2017, 8, 30)
# ed = datetime(2019, 8, 30)
sd = datetime(2019, 9, 27)
ed = datetime(2020, 10, 1)

vix = pdr.get_data_yahoo(symbols='^vix', start=sd, end=ed)["Adj Close"]
spx = pdr.get_data_yahoo(symbols='^SP500TR', start=sd, end=ed)["Adj Close"]
vfx = pdr.get_data_yahoo(symbols='VFINX', start=sd, end=ed)["Adj Close"]
vbx = pdr.get_data_yahoo(symbols='VBMFX', start=sd, end=ed)["Adj Close"]
vmt = pdr.get_data_yahoo(symbols='VMOT', start=sd, end=ed)["Adj Close"]
rwm = pdr.get_data_yahoo(symbols='RWM', start=sd, end=ed)["Adj Close"]
dog = pdr.get_data_yahoo(symbols='DOG', start=sd, end=ed)["Adj Close"]
psh = pdr.get_data_yahoo(symbols='SH', start=sd, end=ed)["Adj Close"]
# gld = pdr.get_data_yahoo(symbols='GLD', start=sd, end=ed)["Adj Close"]
# uso = pdr.get_data_yahoo(symbols='USO', start=sd, end=ed)["Adj Close"]
# CNY_X= pdr.get_data_yahoo(symbols='CNY=X', start=sd, end=ed)["Adj Close"] 
# BTCUSD_X= pdr.get_data_yahoo(symbols='BTCUSD=X', start=sd, end=ed)["Adj Close"]

In [2]:
bnp = pandas.concat([vfx,vix,vbx,vmt,rwm,dog,psh,spx], axis=1)
bnp.columns=['vfx','vix','vbx','vmt','rwm','dog','psh','spx']
bnp = bnp.sort_values(by="Date",ascending=True)
bnp
bnp.isnull().sum()
bnp

,vfx,vix,vbx,vmt,rwm,dog,psh,spx
Date,,,,,,,,
2019-09-27,268.591461,17.219999,10.814775,23.038769,40.458401,52.470287,26.140480,5978.109863
2019-09-30,269.957397,16.240000,10.846966,23.182716,40.438496,52.261082,26.011070,6008.589844
2019-10-01,266.665375,18.559999,10.866475,23.015104,41.204865,52.948467,26.339569,5935.200195
2019-10-02,261.889435,20.559999,10.876229,22.696642,41.543262,53.954639,26.807430,5828.930176
2019-10-03,264.041565,19.120001,10.915245,22.826788,41.384018,53.665741,26.598385,5876.859863
2019-10-04,267.795471,17.040001,10.925002,23.061443,41.015755,52.928547,26.230070,5960.430176
2019-10-07,266.596558,17.860001,10.895738,23.039753,41.075474,53.147709,26.349524,5933.759766
2019-10-08,262.449554,20.280001,10.915245,22.785378,41.752270,53.735470,26.757656,5841.569824
2019-10-09,264.916138,18.639999,10.885984,22.923410,41.602978,53.416683,26.508793,5896.600098
2019-10-10,266.626068,17.570000,10.846966,22.968763,41.403919,53.058048,26.329617,5934.560059
2019-10-11,269.564301,15.580000,10.807947,23.337511,40.697266,52.460323,26.060843,6000.040039
2019-10-14,269.190887,14.570000,10.817703,23.288214,40.876415,52.510136,26.090704,5991.720215
2019-10-15,271.873657,13.540000,10.798194,23.481461,40.388729,52.041920,25.831890,6051.390137
2019-10-16,271.342957,13.680000,10.807947,23.322723,40.338963,52.071804,25.871706,6039.689941
2019-10-17,272.109467,13.790000,10.798194,23.360189,39.891087,52.041920,25.811981,6056.839844
2019-10-18,271.048218,14.250000,10.807947,23.341455,40.090141,52.549988,25.931435,6033.259766
2019-10-21,272.915314,14.000000,10.788438,23.421316,39.701981,52.420475,25.742300,6074.899902
2019-10-22,271.952271,14.460000,10.798194,23.416388,39.672123,52.490211,25.831890,6053.419922
2019-10-23,272.738464,14.010000,10.798194,23.411459,39.622356,52.430439,25.772163,6070.870117
2019-10-24,273.259277,13.710000,10.798194,23.590900,39.711933,52.500175,25.722391,6082.540039
2019-10-25,274.379547,12.650000,10.788438,23.672735,39.483013,52.221237,25.632799,6107.419922
2019-10-28,275.902740,13.110000,10.768931,23.840347,39.134666,51.972183,25.473528,6141.509766
2019-10-29,275.814331,13.200000,10.768931,23.835417,39.025185,51.952263,25.493439,6136.470215
2019-10-30,276.600433,12.330000,10.807947,23.914293,39.134666,51.772942,25.413801,6156.930176
2019-10-31,275.774994,13.220000,10.870512,23.727949,39.383488,52.031956,25.503393,6138.729980
2019-11-01,278.467560,12.300000,10.860738,23.899504,38.726597,51.513927,25.264482,6198.589844
2019-11-04,279.499420,12.830000,10.831409,23.989225,38.537495,51.284801,25.164940,6221.629883
2019-11-05,279.165283,13.100000,10.792309,24.048384,38.457870,51.205109,25.194801,6214.279785
2019-11-06,279.381470,12.620000,10.811858,23.969507,38.696743,51.225025,25.174894,6219.100098
2019-11-07,280.275726,12.730000,10.762981,24.071060,38.577305,50.796661,25.095259,6238.990234
...,...,...,...,...,...,...,...,...
2020-08-20,311.886292,22.719999,11.621715,23.735001,33.020000,44.139999,20.330000,6952.919922
2020-08-21,312.971893,22.540001,11.631664,23.660000,33.270000,43.820000,20.260000,6977.270020
2020-08-24,316.149017,22.370001,11.621715,23.739000,32.889999,43.220001,20.059999,7048.169922
2020-08-25,317.294373,22.030001,11.601814,23.764999,32.849998,43.310001,19.990000,7073.600098
2020-08-26,320.531250,23.270000,11.591864,23.895000,33.090000,43.200001,19.780001,7145.770020
2020-08-27,321.089020,24.469999,11.552064,23.777000,33.000000,42.930000,19.750000,7158.180176
2020-08-28,323.280121,22.959999,11.552064,23.839001,32.709999,42.669998,19.610001,7207.100098
2020-08-31,323.280121,26.410000,11.591933,23.929001,33.070000,43.070000,19.680000,7192.109863
2020-09-01,325.033020,26.120001,11.631802,24.039000,32.680000,42.660000,19.500000,7246.370117
2020-09-02,330.062653,26.570000,11.651736,24.379999,32.430000,42.000000,19.209999,7358.490234
2020-09-03,318.529388,33.599998,11.661704,23.517000,33.380001,43.139999,19.870001,7101.379883
2020-09-04,315.939880,30.750000,11.611867,23.386999,33.590000,43.400002,20.030001,7043.620117
2020-09-08,307.175385,31.459999,11.621835,23.100000,34.230000,44.330002,20.570000,6848.419922
2020-09-09,313.380219,28.809999,11.601900,23.486000,33.709999,43.650002,20.170000,6986.759766
2020-09-10,307.882507,29.709999,11.611867,23.273001,34.150002,44.259998,20.530001,6864.229980
2020-09-11,308.061798,26.870001,11.621835,23.320000,34.380001,44.049999,20.510000,6868.220215
2020-09-14,312.075531,25.850000,11.621835,23.663000,33.450001,43.529999,20.240000,6957.910156
2020-09-15,313.718842,25.590000,11.611867,23.805000,33.400002,43.509998,20.129999,6994.330078
2020-09-16,312.274719,26.040001,11.611867,23.941999,33.080002,43.439999,20.219999,6962.290039
2020-09-17,309.655334,26.459999,11.621835,23.795000,33.310001,43.650002,20.389999,6903.819824
2020-09-18,306.189362,25.830000,11.611867,23.801001,33.430000,44.049999,20.620001,6826.720215
2020-09-21,302.663666,27.780001,11.611867,23.363001,34.570000,44.860001,20.850000,6748.080078
2020-09-22,305.840759,26.860001,11.611867,23.521000,34.310001,44.610001,20.639999,6819.080078
2020-09-23,298.610077,28.580000,11.611867,23.218000,35.320000,45.480000,21.120001,6657.819824
2020-09-24,299.516418,28.510000,11.601900,23.090000,35.330002,45.389999,21.049999,6678.040039
2020-09-25,304.307007,26.379999,11.601900,23.437000,34.750000,44.759998,20.730000,6784.950195
2020-09-28,309.230011,26.190001,11.591933,23.756001,33.910000,44.060001,20.389999,6894.270020
2020-09-29,307.779999,26.270000,11.601900,23.858000,34.049999,44.299999,20.500000,6861.959961
2020-09-30,310.329987,26.370001,11.600902,23.914000,33.939999,43.790001,20.320000,6918.830078
2020-10-01,312.000000,26.700001,11.610885,24.128000,33.400002,43.709999,20.209999,6956.200195

In [3]:
bnp.to_csv('PRED2.csv')

In [5]:
import html5lib
import pandas
dfs = pandas.read_html('https://historical.findrate.tw/his.php?c=USD#.X6s_7GgzY2w')

HTTPError: HTTP Error 403: Forbidden

In [23]:
df = dfs[0].iloc[:,0:6]
df.columns = ['掛牌日期', '幣別', '現金匯率買入','現金匯率賣出', '即期匯率買入','即期匯率賣出']

In [24]:
df.head()

         掛牌日期        幣別  現金匯率買入  現金匯率賣出  即期匯率買入  即期匯率賣出
0  2020/10/08  日圓 (JPY)  0.2638  0.2766  0.2711  0.2751
1  2020/10/07  日圓 (JPY)  0.2640  0.2768  0.2713  0.2753
2  2020/10/06  日圓 (JPY)  0.2647  0.2775  0.2720  0.2760
3  2020/10/05  日圓 (JPY)  0.2653  0.2781  0.2726  0.2766
4  2020/09/30  日圓 (JPY)  0.2663  0.2791  0.2736  0.2776

<div class="alert alert-block alert-info">
<b>News</b> : News Crawler (LTN)
</div>

In [2]:
import requestshttps://www.esunbank.com.tw/bank/personal/deposit/rate/forex/exchange-rate-chart?Currency=USD/TWDw/wps/portal/HNCB/exchange-rate/history-exchange/history-trend')

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text,'lxml')

In [4]:
newsary = []
for li in soup.select('ul.list li'):
  #print(li)
  title = li.select_one('.title').text
  dt = li.select_one('.time').text
  link = li.select_one('a').get('href')
  newsary.append({'title':title, 'time': dt, 'link':link})

In [5]:
import pandas
newsdf = pandas.DataFrame(newsary)
newsdf.head()

Empty DataFrame
Columns: []
Index: []

In [42]:
import requests
res = requests.get('https://news.ltn.com.tw/ajax/breakingnews/all/4')
jd = res.json()
import pandas
df = pandas.DataFrame(jd['data'].values())
import time
newsary = []
for i in range(2,5):
  res = requests.get('https://news.ltn.com.tw/ajax/breakingnews/all/{}'.format(i))
  time.sleep(2)
  #print(res.json())
  jd = res.json()
  df = pandas.DataFrame(jd['data'].values())
  newsary.append(df)

In [43]:
newsdf = pandas.concat(newsary)

In [44]:
newsdf.head()

,no,title,bigphoto_flag,photo_S,photo_L,url,time,type_en,group,type_cn,local,summary,video,localUrl,tagUrl,style,tagText
0,3317434,日職》陳冠宇連4場出賽未失分 羅德不敵軟銀無緣登頂,0,http://img.ltn.com.tw/Upload/sports/page/400S/...,http://img.ltn.com.tw/Upload/sports/page/800S/...,https://sports.ltn.com.tw/news/breakingnews/33...,18:15,sports,breakingnews,體育,False,\n羅德今在客場對戰軟銀，台灣左投陳冠宇中繼1局無失分，防禦率再降至3.52，羅德終場以1：...,0,,list/breakingnews/sports,None,體育
1,3317490,噴淚！蔡英文國慶日引用他歌詞 釣出歌王：謝謝總統,0,http://img.ltn.com.tw/Upload/ent/page/400S/202...,http://img.ltn.com.tw/Upload/ent/page/800S/202...,https://ent.ltn.com.tw/news/breakingnews/3317490,18:13,entertainment,breakingnews,娛樂,False,總統蔡英文今（10）天在國慶日發表演說，特別引用了台語歌王謝銘祐創作的《路》歌詞，以台語「有...,0,,list/breakingnews/entertainment,None,娛樂
2,3317440,再出賣辦公室正妹「腰瘦」助理 鄭運鵬：幫忙衝流量！,0,http://img.ltn.com.tw/Upload/news/250/2020/10/...,http://img.ltn.com.tw/Upload/news/600/2020/10/...,https://news.ltn.com.tw/news/life/breakingnews...,18:13,life,breakingnews,生活,False,民進黨立委鄭運鵬擁有許多年輕粉絲，上月10日他在臉書分享自己蘆竹服務中心的正妹助理照片，笑稱...,0,,list/breakingnews/life,None,生活
3,3317443,畜牧糞尿變黃金！資源化為國庫省758億,0,http://img.ltn.com.tw/Upload/news/250/2020/10/...,http://img.ltn.com.tw/Upload/news/600/2020/10/...,https://news.ltn.com.tw/news/life/breakingnews...,18:11,life,breakingnews,生活,False,我國養豬頭數達551萬頭、養牛頭數達15.2萬頭，是國內重要的糧食產業，但是畜牧產生的糞尿不...,0,,list/breakingnews/life,None,生活
4,3317505,自由限時批》堅韌的民主台灣 永續經營,0,http://img.ltn.com.tw/Upload/talk/page/400S/20...,http://img.ltn.com.tw/Upload/talk/page/800S/20...,https://talk.ltn.com.tw/article/breakingnews/3...,18:11,opinion,breakingnews,評論,False,陳峯 \n2020這一年，可說是驚濤駭浪，國內外至今仍是面臨險峻的局勢，但民主台灣卻能不憂不...,0,,list/breakingnews/opinion,None,評論

<div class="alert alert-block alert-info">
<b>News</b> : Info Crawler (EPS from TWSE)
</div>

In [49]:
import requests
payload = {
  'encodeURIComponent': '1',
  'step': '1',
  'firstin': '1',
  'TYPEK': 'sii',
  'year': '109',
  'season': '01'    
}

url = 'https://mops.twse.com.tw/mops/web/ajax_t163sb19'

res = requests.post(url, data = payload)

In [50]:
import pandas
dfs = pandas.read_html(res.text)
df = dfs[0]
df[df['產業別'] != '加權平均數']

,公司代號,公司名稱,產業別,基本每股盈餘(元),普通股每股面額,營業收入,營業利益,營業外收入及支出,稅後淨利
0,1101,台灣水泥股份有限公司,水泥工業,0.55,新台幣 10.0000元,21976200.0,4460154.0,273722.0,3481119.0
1,1109,信大水泥股份有限公司,水泥工業,0.27,新台幣 10.0000元,1165580.0,217284.0,-29077.0,137170.0
2,1102,亞洲水泥股份有限公司,水泥工業,0.24,新台幣 10.0000元,13138882.0,2021639.0,-453351.0,1130599.0
3,1108,幸福水泥股份有限公司,水泥工業,0.23,新台幣 10.0000元,1104720.0,110132.0,-5836.0,93609.0
4,1104,環球水泥股份有限公司,水泥工業,0.07,新台幣 10.0000元,1253758.0,67425.0,-16843.0,48161.0
6,1110,東南水泥股份有限公司,水泥工業,-0.05,新台幣 10.0000元,387944.0,-12597.0,-17552.0,-30941.0
7,1103,嘉新水泥股份有限公司,水泥工業,-0.33,新台幣 10.0000元,495334.0,-158911.0,-46824.0,-214194.0